.react-calendar-heatmap {
  width: 100%;
}

.react-calendar-heatmap svg {
  width: 100%;
  height: 140px;
}

.react-calendar-heatmap text {
  fill: #94a3b8;
  font-size: 12px;
}

.react-calendar-heatmap rect {
  rx: 3;
  ry: 3;
  transition: 0.2s;
}

.react-calendar-heatmap rect:hover {
  stroke: #22d3ee;
  stroke-width: 2;
}

.react-calendar-heatmap .color-empty {
  fill: #0f172a;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #164e63;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #0891b2;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #06b6d4;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #67e8f9;
}